.position-block {
	position: static;
	position: absolute;
	position: relative;
	position: fixed;
}

.block {
	border: 1px solid grey;
}

.date {
	margin: 0 0 -15px;
	padding: 10px;
	border: 1px solid orange;
	position: relative;
	z-index: 3;
	color: orange;
}

.image {
	position: relative;
	z-index: 1;
}