.float-block {
	float: none;
	float: left;
	float: right;
}

.border-block {
	padding: 15px;
	border: 1px solid grey;
}

.border-block .image-block {
	width: 300px;
	margin: 0 15px 15px 0;
	float: left;
}

.border-block .image-block img {
	max-width: 100%;
}

.border-block .text-block {
	width: 400px;
	float: left;
}