.block {
	color: red;
	font-weight: bold;
}

.block:before {
	color: green;
	font-weight: normal;
	content: "Псевдоэлемент before";
}

.block:after {
	margin: 10px 0 0;
	border: 1px solid #ccc;
	padding: 15px;
	color: #ffa42d;
	display: block;
	content: "Псевдоэлемент after";
}

ul {
	margin: 0;
	padding: 0;
	font: 12px/16px Arial, sans-serif;
}

ul li {
	margin: 10px 0 0;
	padding: 0 0 0 10px;
	position: relative;
	display: block;
}

ul li:before {
	width: 4px;
	height: 4px;
	background: #396aff;
	border-radius: 100%;
	position: absolute;
	top: 6px;
	left: 1px;
	content: "";
}